<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application>
        <!-- 声明图片浏览器 Activity -->
        <activity
            android:name=".imageviewer.ImageViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- 透明 Activity -->
        <activity
            android:name=".imagepicker.ImagePickerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />

        <!-- App Startup 自动初始化 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- 注册 ImagePicker 初始化器 -->
            <meta-data
                android:name="com.azheng.viewutils.startup.ImagePickerInitializer"
                android:value="androidx.startup" />

            <!-- 注册 ImageViewer 初始化器 -->
            <meta-data
                android:name="com.azheng.viewutils.startup.ImageViewerInitializer"
                android:value="androidx.startup" />
        </provider>


    </application>

</manifest>